.black{
	color: #324150
}
svg{
	max-width: 100%;
}
.info-block-card{
	background: url(../img/11.jpeg)  !important;
	background-size: cover !important;

}
.card-info{
	padding: 32px 40px;
}
.phone-caller{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 34px;
	/* identical to box height, or 170% */
	color: #222C36;
}
.nav-link:hover{
	color: #FBB157;
}
.button-link-home:hover {
  animation-duration: 1s;
  padding: 18px 42px;
}
.news-place{
	margin-bottom: 40px;
}
.news-tags{
	margin-top: 30px;
	margin-bottom: 40px;
}
.news-box{
	margin-bottom: 120px;
}
.page-numb{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	text-transform: uppercase;
	color: #222C36;
	padding: 10px 17px;
	background: #FFFFFF;
	border: 1px solid #78859D;
	box-sizing: border-box;
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
}
.arrow-left{
	margin-right: 20px;
	cursor: pointer;
}
.arrow-right{
	margin-left: 10px;
	cursor: pointer;
}
.page-numb-active{
	color: #fff;
	background: #FBB157;
}
.tag-news-link{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #222C36;
}
.tag-news-link-active{
	color: #FBB157 !important;
}
.qty-news{
	color: #78859D;
}
.news-tag{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	color: #222C36;
	padding: 3px 9px;
	background: #fff;
	border-radius: 5px;
	margin-right: 5px;
}
.svg58{
	margin-top: 50px;
}
.case-row{
	margin-bottom: 60px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none; 
}
.span-product{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height, or 150% */
	color: #324150;
}
.head-block{
	background: #364766;
}
.nav-link{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */
	text-align: center;
	color: #FFFFFF;
	margin-right: 15px;
}
.navbar-nav{
	margin-left: 76px;
}
.phone-call, .phone-call-pad{
	border: 1px solid #FBB157;
	box-sizing: border-box;
	border-radius: 7px;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	/* identical to box height, or 186% */
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.phone-call:hover{
	background: #FBB157;
}
.head-block-content{
	padding-top: 156px;
	padding-bottom: 115px;
}
.right-head-block-content{
	margin-top: -80px;
}
h1{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	/* or 117% */
	color: #FFFFFF;
}
h5{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	/* identical to box height, or 115% */
	color: #FFFFFF;
}
h3{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 52px;
	/* or 130% */
	color: #324150;
	margin-bottom: 62px;
}
h4{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	/* or 123% */
	color: #324150;
	margin-bottom: 30px;
}
h6{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;

	color: #3E454D;

	transform: matrix(1, 0, 0, 1, 0, 0);
}
h2{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	/* or 132% */
	color: #FFFFFF;
}
.h2-desc{
	margin-top: 14px;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	/* or 150% */
	color: #FFFFFF;
	margin-bottom: 43px;
}
.home-dop-title{
	margin-top: 25px;
}
.home-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FFFFFF;
	margin-top: 44px;
	margin-bottom: 69px;
}
header{
	padding-top: 15px;
}
.button-link-home{
	background: #FBB157;
	border-radius: 7px;
	padding: 12px 42px;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	/* identical to box height, or 186% */
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #3E454D;
	border: none;
}
a{
	text-decoration: none;
}
.two-block{
	padding-top: 120px;
}
.list-item-box{
	width: 31%;
}
.info-block{
	background: #F7FCFD;
    border-radius: 5px;
    padding-top: 80px;
    margin: 0 auto;
    max-width: 1500px;
    padding-bottom: 82px;
    margin-bottom: 40px;
}
.list-item{
	border-radius: 5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	width: 100%;
	padding-top: 50px;
	padding-right: 25px;
	padding-bottom: 60px;
	padding-left: 40px;
	-webkit-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
}
.list-item-one{
	background: #FFF4E4;
}
.list-item-two{
	background: #E8F7FE;
}
.list-item-three{
	background: #FFF5F0;
}
.list-item-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #222C36;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin-top: 30px;
	margin-bottom: 32px;
}
.link-more{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FBB157;
	transform: rotate(0.19deg);
}
.list-item-box-ex{
	width: 37%;
}
.list-item-ex{
	padding-top: 32px;
    padding-right: 25px;
    padding-bottom: 32px;
}
.three-block{
	padding-top: 150px;
}
.list-item-small{
	padding-top: 20px;
    padding-bottom: 16px;
}
.block-1{
	width: 30%;
}
.four-block{
	max-width: 1500px;
	margin: 0 auto;
	padding-top: 79px;
	padding-bottom: 90px;
	background: #364766;
	border-radius: 5px;
}
.top-blue-numb{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 36px;
	/* or 90% */
	color: #FFFFFF;
}
.top-blue-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	/* or 120% */
	color: #FFFFFF;
}
.top-blue-p{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FFFFFF;
}
.border-left-top{
	border-right: 1px solid #52617A;
}
.padding-left-top{
	padding-left: 77px;
}
.bottom-blue{
	margin: 0 auto;
	margin-top: 69px;
}
.margin-top-72{
	margin-bottom: -72px;
}
.list-item-numb{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	/* identical to box height, or 187% */
	color: rgba(120, 133, 157, 0.7);
}
.list-item-yell{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	/* identical to box height, or 186% */
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FBB157;
	margin-top: 10px;
}
.list-item-mini{
	padding-top: 23px;
	padding-left: 30px;
	padding-right: 23px;
	padding-bottom: 20px;
	width: 100%;
}
.list-item-box-mini{
	width: 22.6%;
}
.items-row{
	margin-bottom: 60px;
}
.block-five{
	background: #364766;
	padding-top: 120px;
	padding-bottom: 110px;
}
.left-five{
	width: 43%;
}
.right-five{
	width: 57%;
}
.h2-desc2{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FFFFFF;
	margin-bottom: 62px;
}
.six-block{
	margin-top: 120px;
}
.project-banner-01{
	background: #43396A;
}
.project-banner{
	border-radius: 5px;
	width: 49%;
	min-height: 370px;
}
.banners-row{
	margin-top: 40px;
}

.tabs {
font-size: 0;
}

.tabs>input[type="radio"] {
display: none;
}

.tabs>div {
/* скрыть контент по умолчанию */
display: none;
border: 1px solid #e0e0e0;
padding: 10px 15px;
font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
display: block;
}

.tabs>label {
display: inline-block;
text-align: center;
vertical-align: middle;
user-select: none;
background-color: #f5f5f5;
border: 1px solid #e0e0e0;
padding: 2px 8px;
font-size: 16px;
line-height: 1.5;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
cursor: pointer;
position: relative;
top: 1px;

font-family: IBM Plex Mono;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #333333;

border-radius: 7px 7px 0px 0px;
background: #E8F7FE;
padding: 10px 15px;
margin-right: 15px;
}

.tabs>label:not(:first-of-type) {
border-left: none;
}

.tabs>input[type="radio"]:checked+label {
background-color: #fff;
border-bottom: 1px solid #fff;
background: #FBB157;
}

.info-block-banners{
	padding-bottom: 40px !important;
}
.project-banner img{
	margin-top: 15%;
}
.banner-title{
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	/* or 150% */
	text-align: center;
	color: #FFFFFF;
	margin-top: 50px;
}
.project-banner-02{
	background: #B02C2F;
}
.project-banner-03{
	background: #FFB573;
}
.project-banner-04{
	background: #AFDEF5;
}
.date{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height */
	color: #78859D;
	text-align: right;
}
.news-two{
	margin-top: 70px;
	background: #E8F7FE;
}
.form-news{
	background: #364766;
	border-radius: 5px;
	margin-top: 14px;
}
.form-news-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FFFFFF;
}
.email-input{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 34px;
	/* identical to box height, or 262% */
	color: #78859D;
	background: none;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	width: 100%;
	margin-bottom: 28px;
}
.privacy-text{
	margin-top: 15px;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	/* or 138% */
	color: #78859D;
}
.button-all{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	border: 1px solid #FBB157;
	box-sizing: border-box;
	border-radius: 10px;
	color: #222C36;
	padding: 13px 27px;
}
.reviews-block{
	margin-top: 120px;
}
.reviews{
	background: #E8F7FE;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	padding: 50px 30px;
	width: 49%;
}
.reviews-photo{
	width: 80px;
	height: 80px;
	border-radius: 50px;
}
.review-name{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #3E454D;
}
.reviews-left{
	margin-right: 40px;
}
.review-position{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */
	color: #78859D;
	margin-top: 10px;
}
.body-review{
	margin-top: 22px;
}
.review-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #222C36;
}
.review-link{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */
	margin-top: 20px;
	color: #A7A7A7;
}
.mg-t{
	margin-top: 20px;
}
.play{
	width: 42px;
	height: 42px;
	position: absolute;
	margin-top: 38px;
    margin-left: -24px;
}
.reviews-two{
	background: #FFF4E4;
}
.main-form{
	background: #E8F7FE;
	padding: 40px 40px;
	margin-top: 40px;
	display: inline-block;
	border-radius: 5px;
	max-width: 80%;
}
.form-text{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	color: #222C36;
}
.main-form input{
	font-family: IBM Plex Mono;
	width: 90%;
	margin-bottom: 22px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 34px;
	/* identical to box height, or 262% */
	color: #78859D;
	background: none;
	border: none;
	border-bottom: 1px solid #222C36;
}
footer{
	background: #2A374F;
	padding-top: 90px;
	padding-bottom: 90px;
}
.footer-link{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #FFFFFF;
	margin-bottom: 30px;
	display: block;
}
.top-footer{
	padding-bottom: 88px;
	border-bottom: 1px solid #4E5A72;
}
.bottom-footer{
	padding-top: 30px;
}
.link-botton-footer{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 26px;
	/* or 200% */
	color: #78859D;
}
.only-pad{
	display: none;
}
.black{
	color: #324150
}
.right-head-block-content1{
	margin-top: 0;
}
.head-block1{
	background: #54C3FF;
}
.mr-1{
	margin-right: 10px;
}
.look{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #324150;
}
.bread{
	padding-top: 50px;
	padding-bottom: 70px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.bread-dott{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -2px;
}
.bread>li{
	list-style-type: none;
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.bread>li>a{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */
	color: #222C36;
	
}
.bread>li>a.active{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */
	color: #78859D;
}
.list-item-product{
	background: #FFF4E4;
	border-radius: 5px;
	padding: 40px;
	-webkit-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 10px 16px 5px rgba(34, 60, 80, 0.2);
}
.list-item-product-list{
	margin-right: 15px;
}
.list-item-product-item{
	margin-bottom: 25px;

}
.list-item-product2{
	background: #E8F7FE;
}
.list-style{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	margin-top: 20px;
	margin-bottom: 25px;
	color: #476481;
}
.block-five-2{
	background: #54C3FF;
}
.footer-2{
	background: #1D2F38;
}
.block-five-2-title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 52px;
	/* or 130% */
	color: #324150;
	margin-top: 20px;
}
.block-price{
	padding-top: 90px;
	padding-bottom: 80px;
}
.price-item{
	background: #E8F7FE;
	border-radius: 5px;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 26px;
	padding-bottom: 40px;
}
.price-title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 36px;
	/* identical to box height, or 138% */
	color: #3E454D;
	margin-bottom: 35px;
}
.price-string{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* or 137% */
	color: #222C36;
	margin-bottom: 28px;
}
img{
	max-width: 100%;
}
.premium{
	background: #364766;
}
.who{
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height, or 137% */
	color: #222C36;
}
.price-price{
	margin-top: 150px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 34px;
	/* identical to box height, or 142% */
	color: #0083C7;
}
.head-block2{
	background: #006194;
}
.head-block3{
	background: #F2706D;
}
.footer3{
	background: #4E5A72;
}
.head-block4{
	background: #364766;
}
.phone-call-pad{
		display: none;
	}
.six-block-portfolio{
	margin-top: 0;
}
.info-block-banners-portfolio {
    width: 110%;
    margin-left: -5%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 39px !important;
}
.portfolio-row{
	background: #fff;
	margin-bottom: 40px;
}
.portfolio-right{
	padding: 60px 90px 75px 60px;
}
.potfolio-image{
	height: 100%;
	object-fit: cover;
}
@media screen and (max-width: 1200px){
	.portfolio-right {
	    padding: 20px 30px 2px 20px;
	}
	.phone-call{
		display: none
	}
	.look {
	    font-family: IBM Plex Mono;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 10px;
	    line-height: 16px;
	    color: #324150;
	}
	.bread {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.sde{
		display: none;
	}
	.list-style{
		margin-bottom: 0;
	}
	.price-item-sde{
		display: flex;
		justify-content: space-between;
	}

}
.head-block-content-portfolio{
	padding-bottom: 0 !important;
}
.portfolio-image{
	margin-top: -60px;
    margin-bottom: -40px;
}
@media screen and (max-width: 990px){
	.info-block-card{
		background-position-x: -209px !important;
	}
	.list-item-mini-tags{
		display: flex;
		padding: 9px 9px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.list-item-product-item-tag{
		margin-bottom: 0;
		margin-right: 15px;
	}
	.svg63{
		display: none;
	}
	.svg56{
		display: none;
	}
	.phone-call-pad{
		display: block;
		margin-left: 200px;
	}
	.navbar-nav {
	    margin-left: 0px;
	}
	.phone-call{
		display: none;
	}
	h1{
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 46px;
		/* or 128% */
		color: #FFFFFF;
	}
	.home-dop-title{
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;
		/* identical to box height, or 162% */
		color: #FFFFFF;
	}
	.home-text{
	    font-family: IBM Plex Mono;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 11px;
	    line-height: 26px;
	    color: #FFFFFF;
	    margin-top: 20px;
   	    margin-bottom: 26px;
	}
	.right-head-block-content{
		margin-top: 0;
	}
	.head-block-content {
	    padding-top: 90px;
	    padding-bottom: 90px;
	}
	h3{
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 46px;
		/* or 128% */
		color: #324150;
	}
	.two-block {
	    padding-top: 90px;
	}
	h4{
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 32px;
		/* or 145% */
		color: #324150;
	}
	.list-item-box {
	    width: 49%;
	}
	.svg4{
		display: none;
	}
	.right2{
		height: 300px;
	}
	.list-item-box-ex{
		width: 100%;
	}
	.list-zone-md{
		display: flex;
		flex-direction: column;
	}
	.svg5{
		display: none;
	}
	.list-item-ex{
		margin: 0 !important;
	}
	.list-item-box-ex{
		margin-bottom: 35px;
	}
	.svg12{
		margin: 0 !important;
	}
	.padding-left-top {
	    padding-left: 30px;
	}
	.top-blue-numb{
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 36px;
		/* or 100% */
		color: #FFFFFF;
	}
	.list-item-box-mini {
	    width: 50%;
	    margin-bottom: 25px;
	}
	.mg-t {
	    margin-top: 0;
	}
	.items-row{
		margin-bottom: 0;
	}
	.padding-left-top {
	    padding-left: 13px;
	}
	.block-five{
		padding-top: 90px;
		padding-bottom: 90px;
	}
	h2 {
	    font-family: Montserrat Alternates;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 29px;
	    line-height: 40px;
	    color: #FFFFFF;
	}
	.h2-desc{
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;
		/* or 162% */
		color: #FFFFFF;
	}
	.h2-desc2{
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		/* or 162% */
		color: #FFFFFF;
	}
	.left-five {
	    width: 42%;
	}
	.right-five{
		padding-left: 43px;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	}
	.tabs>label{
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		/* identical to box height */
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #3E454D;
	}
	.tabs>label {
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;
	    user-select: none;
	    background-color: #f5f5f5;
	    border: 1px solid #e0e0e0;
	    padding: 2px 8px;
	    font-size: 16px;
	    line-height: 1.5;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	    cursor: pointer;
	    position: relative;
	    top: 1px;
	    font-family: IBM Plex Mono;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 14px;
	    line-height: 18px;
	    letter-spacing: 0.04em;
	    text-transform: uppercase;
	    color: #333333;
	    border-radius: 7px 7px 0px 0px;
	    background: #E8F7FE;
	    padding: 5px 5px;
	    margin-right: 5px;
	}
	.news-two{
		margin-top: 0;
	}
	.reviews{
		width: 100%;
		margin-bottom: 30px;
	}
	.main-form {
	    background: #E8F7FE;
	    padding: 40px 40px;
	    margin-top: 40px;
	    display: inline-block;
	    border-radius: 5px;
	    max-width: 100%; 
	}
	.only-desc{
		display: none;
	}
	.only-pad{
		display: block;
	}
}

@media screen and (max-width: 768px){
	.list-item-mini-tags{
		display: flex;
		flex-direction: column;
	}
	.case-row2{
		display: flex;
    	flex-direction: column-reverse;
	}
	.info-block-banners-portfolio{
		width: 100%;
	    margin-left: 0%;
	}
	.portfolio-image {
	    margin-top: 0px;
	    margin-bottom: -40px;
	}
	.head-block-content-portfolio {
	    padding-top: 50px !important;
	    padding-bottom: 70px !important;
	}
	.price-item-sde {
		display: block;
	}
	.sm-mb-5{
		margin-bottom: 25px;
	}
	.list-item-product{
		margin-bottom: 30px;
	}
	.bread {
		display: block !important;
	}
	.sre{
		display: none;
	}
	h1{
		font-size: 32px;
	}
	.navbar-toggler{
		margin: 0;
	}

	.phone-call, .phone-call-pad{
		display: none;
	}
	.head-block-content {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}
	.right-head-block-content {
	    margin-top: 34px;
	}
	h3{
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 38px;
		/* or 127% */
		color: #324150;
	}
	.two-block {
	    padding-top: 80px;
	}
	.list-item-box{
		width: 100%;
	}
	.list-item-two{
		margin-bottom: 30px;
	}
	.list-item-text {
	    font-family: IBM Plex Mono;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 14px;
	    line-height: 26px;
	    color: #222C36;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	    margin-top: 0px; 
	    margin-bottom: 32px;
	}
	.right2 {
	    width: 100%;
	    /* height: 300px; */
	    margin-top: 50px;
	}
	.block-1 {
	    width: 100%;
	    /* width: 30%; */
	}
	.border-left-top{
		width: 100% !important; 
	}
	.border-left-top {
	    width: 100% !important;
	    margin-bottom: 30px;
	}
	.bottom-blue {
	    margin: 0 0;
	    /* margin-top: 69px; */
	}
	.dfr{
		width: 100% !important; 
		text-align: center !important;
		margin-bottom: 30px;
	}
	.border-left-top {
	    text-align: center !important;
	}
	.list-item-box-mini{
		width: 100%;
	}
	.five-mobile{
		display: flex;
		flex-direction: column-reverse;
	}
	.left-five {
	    width: 100%;
	    /* width: 42%; */
	}
	.right-five {
	    width: 100%;
	    padding-left: 0;
	    /* width: 42%; */
	}
	.left-five{
		margin-top: 40px;
	}
	.project-banner{
		width: 100%;
	}
	.project-banner{
		margin-top: 20px
	}
	.banners-row {
	    margin-top: 20px;
	}
	.button-all{
		display: none;
	}
	.list-item-small {
	    padding-top: 20px;
	    margin-bottom: 20px;
	    padding-bottom: 16px;
	}
	.navbar-toggler {
	    margin-right:0px;
	}

	.revers-mobile{
		flex-direction: column-reverse;
	}
}